#root {
  width: 100vw;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.not-found{
width: 100%;
height: 98vh;
display: flex;
align-items: center;
justify-content: center;
font-size: xx-large;
color: red;
}
